body {
  margin: 0;
  font-family: 'Merriweather', serif !important;
  font-size: 14px !important; /* Adjust the font size as needed */
  font-weight: 400 ; /* Adjust the font weight as needed */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
