.sec-heading {
    font-weight: 800;
    padding: 20px 20px 10px 20px !important;

}

.blog-trend-container {
    padding-top: 20px;
    padding-bottom: 40px;
}

.blog-trend-card-container {
    padding-top: 20px;
}

.trend-card {
    position: relative;
    padding: 15px;

}

.trend-card-col {
    max-width: 350px;
}

.trend-img-container {
    position: relative;
    width: 290px !important;
    height: 240px !important;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.trend-card-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: filter 0.3s ease;
    /* Add transition for smooth effect */
}

.trend-card-img-container:hover {
    background: rgba(0, 0, 0, 0.7);
    filter: brightness(10%);
}

.trend-card-text-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    text-align: left;
    z-index: 1;
    /* Ensure text is above the image */
    background: rgba(0, 0, 0, 0.7);
}


.trend-card-title {
    font-weight: 800;
    font-size: 18px;
    color: white;
    /* left: 95%;
    top: 60%;
    transform: translate(-50%, -50%); */

}

.trend-card-text {
    color: white;
    font-size: 11px;
    /*  transform: translate(-50%, -50%); 
    top: 20% ;
    left: 40%; */
}

.trend-card-overlay {
    background-color: black;
    position: absolute;
    width: 290px !important;
    height: 240px !important;
    z-index: 1;
    opacity: 0;
}

.trend-card-overlay:hover {
    opacity: .1;
}

.blog-see-all {
    display: flex;
    justify-content: flex-end;
}